@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Roboto:wght@500&display=swap');


.container {
    background-color: #0A4033;
    height: 100%;
    width: 90%;
    margin-left: 20px;
}

.heroContainer {
    background-color: #0A4033;
    width: 100%;
    min-height: 70vh;
}

/* .ellipse {
    position: absolute;
    top: -50%;
    right: -50%;
    width: 200%;
    height: 200%;
    border-radius: 50%;
    background: radial-gradient(circle at 100% 0, #B0E57C 10%, #0A4033 80%);
    transform: rotate(45deg);
    z-index: -1;
} */

.wrapper {
    border: 1px solid black;
    width: 90%;
    min-height: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.textContainer {
    color: white;
    width: 50%;
    height: auto;
    padding: 20px;
    font-size: 20px;
    margin-left: 10vh;
}
