.navbarContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.companyLogo {
    font-size: 20px;
    color: white;
    margin-bottom: 20px;
    margin-left: 20px;
    justify-content: center;
    align-items: center;
}

.links {
    display: flex;
    align-items: center;
}

.link {
    color: white;
    text-decoration: none;
    margin-left: 20px; 
    font-size: 20px;
}